*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
body{
    display:flex;
    justify-content: space-around;
    align-items: center;
}


.container1{
    display:grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(2,1fr);
    width:100%;
    gap:10px;
    
}
 .image{
    
    width:90%;
    padding:20px;
    
    
    
}
.image img{
    width:100%;
    height:300px;
    
}

.image:hover{
    transform: scale(0.8);
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}
.big-image1{
    display:none;
}

.big-image2{
    display:none;
}

.big-image3{
    display:none;
}
.big-image4{
    display:none;
}

.big-image5{
    display:none;
}

.big-image6{
    display:none;
}

.big-image7{
    display:none;
}

.big-image8{
    display:none;
}






.image1 {
   
    height:95vh;
    position:absolute;
    top:1vh;
    right:480px;
    left:520px;
}

.cross div{
    position:absolute;
    top:5vh;
    right:250px;
   height:5px;
   width:30px;
   background-color: red;
    margin-bottom: 5px;
    cursor: pointer;
  
}


.line1{
    transform: rotate(-45deg) translate(-1px,1px);
    
}

.line2{
    transform: rotate(45deg) translate(0px,0px);
}



 